* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom,#f8d984, #e49e4f, #c29d4f);
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container {
    background-color: rgb(23, 23, 32);
    padding: 20px;
    margin: 15px;    
}
.container {
    position: relative;
    height: 55vh;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: auto;
}
h1 {
    width: 30vw;
    min-width: 440px;
}
img {
    width: 30vw;
    min-width: 440px;
    height: 100%;
}
.title-music {
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.buttons-functionalities {
    background-color: #000;
    color: #fff;
    opacity: 0.6;
    margin: 15px;
    padding: 15px;
    border-radius: 9px;
}
.buttons-functionalities:hover {
    background-color: #fff;
    color: #000;
    opacity: 0.6;
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}
.active {
    background-color: #fff;
    color: #000;
    opacity: 0.6;
}
#timeline {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;   
    background-color: #ddd;
    overflow: hidden;
    border-radius: 10px;
    accent-color: #48494b;
}
#timeline::-webkit-slider-thumb {
    box-shadow: -340px 0 0 330px #48494b;
    border-radius: 10px;
}
